body {
  background-color: #f8f8f8;
}
.container {
  max-width: inherit;
  margin: 0px auto;
  padding: 0px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .profile-header {
    display: flex;
    align-items: center;
    background-color: #003366;
    color: #fff;
    padding: 40px;
    width: 85%;
    height: 250px;
    position: relative;
    justify-content: left;
    z-index: 1;

    .sisi {
      width: 230px;
      height: 230px;
      position: absolute;
      top: 50%;
      left: 1%;
      transform: translate(-50%, -10%);
      border-radius: 100%;
      border: 50px solid rgb(250, 209, 27);
   
    }
    img {
      width: 210px;
      height: 210px;
      position: absolute;
      top: 30%;
      left: 1%;
      transform: translate(-50%, -10%);
      border-radius: 100%;
      z-index: 2;
    }

    h1 {
      font-size: 40px;
      margin: 20px;
      margin-left: 300px;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    }
    p {
      margin: 20px;
      font-size: 24px;
      margin-left: 300px;
    }

    .pernik {
      margin-left: 200px;
      width: 1000px;
      height: 25px;
      background-color: rgb(250, 209, 27);
      position: absolute;
      margin-top: 250px;
    }
  }

  .profile-content {
    margin-top: 80px;
    position: relative;
    text-align: left;
    padding-left: 250px;

    h5 {
      font-weight: bold;
      color: #003366;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      letter-spacing: 2px;
    }

    p {
      color: black;
      font-size: medium;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    .pernak {
      margin-top: 20px;
      width: 27px;
      height: 490px;
      background-color: #003366;
      position: absolute;
      margin-right: 98%;
    }
    .contact-info {
      font-size: 15px;
    }
    .circle {
      border-radius: 50%;
      height: 10px;
      width: 10px;
      background-color: rgb(250, 209, 27);
      position: absolute;
      margin-right: 620px;
    }
    .line {
      width: 4px;
      height: 50px;
      background-color: #003366;
      position: absolute;
      margin-right: 623px;
      margin-top: 15px;
    }
    h6 {
      color: #003366;
      font-weight: bold;
      margin-left: 30px;
    }
    p{
      margin-left: 30px ;
    }
    .circlep {
      border-radius: 50%;
      height: 10px;
      width: 10px;
      background-color: rgb(250, 209, 27);
      position: absolute;
      margin-right: 435px;
      
    }
    .linep {
      width: 4px;
      height: 50px;
      background-color: #003366;
      position: absolute;
      margin-right: 437px;
      margin-top: 15px;
      
  }
}
}